<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <div class="wrapper">
        <div class="hero">
            <h1 th:text="${pageTitle}">당뇨 고위험군 테스트</h1>
        </div>
        <form name="frmStep" method="POST" th:action="@{/survey/diabetes/process}" autocomplete="off" th:object="${requestDiabetesSurvey}">
            <input type="hidden" name="mode" value="step2">
            <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

            <!-- 키/몸무게 -->
            <div class="group">
                <label class="title" th:text="#{키/몸무게}">키/몸무게</label>
                <div class="inline-inputs">
                    <input type="number" th:field="*{height}" min="50" max="350" placeholder="키 입력">cm
                    <span class="divider">/</span>
                    <input type="number" th:field="*{weight}" min="10" max="450" placeholder="몸무게 입력">kg
                </div>
                <div class="error" th:each="err : ${#fields.errors('height')}" th:text="${err}"></div>
                <div class="error" th:each="err : ${#fields.errors('weight')}" th:text="${err}"></div>
            </div>

            <!-- 당화혈색소 수치 -->
            <div class="group">
                <label class="title" th:text="#{당화혈색소_수치}">당화혈색소 수치</label>
                <div class="inline-inputs">
                    <input type="number" th:field="*{hbA1c}" step="0.1" placeholder="예: 5.6">%
                </div>
                <div class="error" th:each="err : ${#fields.errors('hbA1c')}" th:text="${err}"></div>
            </div>

            <!-- 혈당 수치 -->
            <div class="group">
                <label class="title" th:text="#{혈당_수치}">혈당 수치</label>
                <div class="inline-inputs">
                    <input type="number" th:field="*{bloodGlucoseLevel}" min="0" placeholder="혈당 수치 입력">mg/dL
                </div>
                <div class="error" th:each="err : ${#fields.errors('bloodGlucoseLevel')}" th:text="${err}"></div>
            </div>

            <!-- 버튼 그룹 -->
            <div class="button-group">
                <a th:href="@{/survey/diabetes/step1}" class="btn outline" th:text="#{이전_페이지}">이전 페이지</a>
                <button type="submit" class="btn solid" th:text="#{결과보기}">결과보기</button>
            </div>
        </form>
    </div>
</main>
</html>
