<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="common" class="site-header">
        <div class="container">
            <div class="logo">
                <a th:href="@{/}">
                    <img src="/common/images/logoW.png" alt="로고" />
                </a>
            </div>
            <nav class="gnb">
                <a th:href="@{/survey/diabetes}">당뇨 테스트</a>
                <a th:href="@{/restaurant}">오늘의 식당</a>
                <a th:href="@{/mypage}">마이페이지</a>
                <th:block th:if="${isLogin}">
                    <a th:href="@{/logout}">로그아웃</a>
                </th:block>
                <th:block th:unless="${isLogin}">
                    <a th:href="@{/member/login}">로그인</a>
                    <a th:href="@{/member/join}">회원가입</a>
                </th:block>
            </nav>
        </div>
    </header>
</html>